<aside class="navbar">
  <div class="navbar-container">
    <nav class="navbar-content">
      <ul>
        <li class="left"><a class="navbar-text" href="/index#">Intro</a></li>
        <li><a class="navbar-text" href="/index#missao-page">Missão</a></li>
      </ul>

      <a href="#"><img class="navbar-logo-img" src="img/Physis_Logo.png"></a>

      <ul>
        <li><a class="navbar-text" href="/cadastro">Cadastre-se</a></li>
        <li><a class="navbar-text" href="/login">login</a></li>
      </ul>
    </nav>
  </div>
</aside>

<img class="leaf-bg" src="img/Folhas_Physis.png">

<div class="menu-spacing"></div>

<h2 class="msg"><%if (msg) { %><%= msg %><% } %></h2>