<%- include ('partials/header.ejs') %>
<body class="main-bg hidden-x">

  <%- include ('partials/navbar.ejs') %>

  <section id="intro-page" class="main-content intro-section">
    <div class="bold intro-text">
      <p><span class="yellow-bg">pequenas escolhas</span></p>
      <p>geram grande<span class="lightgreen-bg">impacto</span></p>
      <p>na <span class="darkgreen-bg">natureza</span></p>
    </div>
  </section>

  <section class="main-content intro-section">
    <div class="grid-intro">
      <img class="intro-img" src="img/seta_physis.png">
      <div class="intro-text-grid darkgreen-bg custom-box">
        <p>Hábitos saudáveis e sustentáveis </p>
        <p>fazem a diferença no meio ambiente. Pequenas ações, como economizar água, reduzir o plástico e optar por produtos naturais, ajudam a preservar os recursos e garantem um futuro melhor. Quando cuidamos da natureza, ela cuida de nós! </p>
      </div>
      <div class="intro-img-grid">
        <img src="img/Papagaio.jpg">
      </div>
    </div>

  </section>


  <section id="missao-page" class="missao-section">
    <div class="cima">
    </div>
    <div class="baixo-text">
      <h2 class="maint-content missao-titulo">NOSSA MISSÃO</h2>
      <div class="main-content text-left centro">
        <p>A <span>Physis</span> existe para ajudar as pessoas a viverem de forma mais <span>saudável e sustentável.</span></p>
        <p>Nossa missão é a partir dos dados que você nos fornece, indicar o quão sustentável é o
        seu lifestyle, analisando hábitos diários e mostrando seu impacto no meio ambiente.</p>
        <p>Com dados claros e orientações práticas, queremos tornar a mudança acessível e
        transformar pequenas ações em grandes resultados para um planeta mais equilibrado e
        em harmonia com a natureza.</p>
      </div>
    </div>
  </section>
  
</body>
</html>