.intro-section {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-text p, .intro-text span {
  font-family: "Space Grotesk", sans-serif;
  font-size: 50px;
  border-radius: 30px;
  letter-spacing: -5px;
  padding: 0px 10px;
}

.grid-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  position: relative;
}

.intro-text-grid {
  border-radius: 20px 50px 20px 20px;
  padding: 20px;
  padding-right: 40px;
  position: relative;
  overflow: hidden;
}

.intro-text-grid::after {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 150px;
  height: 60px;
  background-color: #f8f3e4;
  border-bottom-left-radius: 100%; 
}

.intro-text-grid p {
  font-weight: 300;
}

.intro-img-grid {
  border-radius: 20px 20px 20px 50px;
  position: relative;
  overflow: hidden;
}

.intro-img-grid::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150px;
  height: 60px;
  background-color: #f8f3e4;
  border-bottom-right-radius: 100%; 
}

.intro-img-grid img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-img {
  position: absolute;
  right: 46%;
  width: 10rem;
  transform: rotate(90deg);
  translate: 0 -50px;
  background: var(--offwhite-color);
  border-radius: 50%;
  z-index: 1;
}

.missao-section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
.missao-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.missao-titulo{
  text-align: center;
  font-size: 80px;
  color: #f2b946;
}
.missao-section .text-left p {
  display: inline;
  color: #f9f2e0;
}

.missao-section .text-left span{
  display: inline;
  color: var(--yellow-color);
}

.cima{
  height: 10vh;
  width: 99vw;
  padding: 0%;
}
.baixo-text{
  height: 80vh;
  width: 99vw;
  background-color: #144d3a;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  padding-top: 100px;
}
div.text-left{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.text-left{
  text-align: left;
}
.centro{
  margin: 5vh 8vw;
}

