:root{
    --midgreen-color: #55ad8f;
    --lightgreen-color: #c5facc;
    --darkgreen-color: #144d3a;
    --yellow-color: #f2b946;
    --offwhite-color: #f9f2e0;
}
form{
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.box-central{
    background-color: var(--darkgreen-color);
    border-radius: 80px;
    height: 60vh;
    width: auto;
    margin-top: 5vh;
    margin: auto 10vw;
}
.esquerda{
    color: var(--offwhite-color);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.esquerda h2{
    color: var(--yellow-color);
    font-family: "Space Grotesk", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.acima{
    height: 43px;            
    overflow: hidden;        
    line-height: 50px; 
}
.abaixo{
    height: 50px;            
    overflow: hidden;        
    line-height: 40px; 
}
.esquerda p{
    color: var(--yellow-color);
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    height: 25px;
    line-height: 23px;

}
.direita{
    color: var(--offwhite-color);
}
.box-central label{
    color: var(--offwhite-color);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    margin-top: 5px;
}
.box-central input{
    background-color: var(--midgreen-color);
    border-radius: 20px;
    border: 3px;
    border-color: var(--yellow-color);
    height: 35px;
    width: 80%;
    display:flex;
    flex-direction: column;
    padding: 10px;
}
.direita{
    color: var(--offwhite-color);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.box-central input[type="number"]::-webkit-inner-spin-button,
.box-central input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.box-central input::placeholder{
    color: var(--darkgreen-color);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
.box-central input.data-de-nacimento::placeholder{
    font-size: 15px;
}
button.cadastro{
    background-color: var(--yellow-color);
    color: var(--offwhite-color);
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    justify-content: center;
    cursor: pointer;
}
button.cadastro:hover{
    background-color: var(--offwhite-color);
    color: var(--yellow-color);
}
