:root {
    --midgreen-color: #55ad8f;
    --lightgreen-color: #c5facc;
    --darkgreen-color: #144d3a;
    --yellow-color: #f2b946;
    --offwhite-color: #f9f2e0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    background-color: var(--offwhite-color);
    font-family: "Poppins", sans-serif;
    color: var(--darkgreen-color);
  }
  
  body {
    display: flex;
    flex-direction: column;
  }

  main.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 300px));
    justify-content: center;
    gap: 20px;
  }
  
  .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--darkgreen-color);
    margin-top: 2rem;
  }
  .graficos-container > .grid > div {
    background-color: var(--darkgreen-color);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  .graficos-container h2 {
    color: var(--lightgreen-color);
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .graficos-select{
    margin-bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:15px;
  }
  .graficos-select select{
    background:var(--lightgreen-color);
    border-radius: 30px;
  }
  canvas{
    width:100%;
    height:auto
  }
  .graficos-container{
    width:100%;
    display:grid;
    grid-template-rows: 0.3fr 1fr;
  }
  
