.section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.dicas-bg {
    background-image: url(../img/Background_Dicas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indice-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indice-container {
    width: 100%;
    padding: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}

.indice{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-shadow: 0 0 20px black;
    padding: 150px 0px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.indice h1 {
    font-size: 100px;
}

.indice p {
    font-size: 40px;
}

.dica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 50px;
}

.dica h1{
    font-size: 70px;
}

.dica-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 70px;
}

.imagem-texto {
    width: 100px;
}

.dicas-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    padding: 0 25%;
    gap: 30px;
}

.dicas-container h2 {
    font-size: 38px;
    word-spacing: 0px;
}

.dicas-container ul {
    line-height: 50px;
    font-size: 20px;
}

.inserir-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-image: url(../img/Fundo_Login.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    background: none;
    font-family: "poppins", sans-serif;
}

.form-container input, .form-container select{
    width: 70%;
    padding: 5px;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    outline: none;
}

.form-container input, .form-container input::placeholder, .form-container select{
    color: var(--secondary-color);
}

.form-container select:hover, .form-container input:hover, .form-container input:focus, .form-container button:hover {  
    background: rgb(0,0,0,0.3);
}

.form-container button{
    padding: 10px 0;
    width: 30%;
    background:none;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    color: var(--secondary-color);
}

.text-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.text-container h2{
    font-size: 80px;
    color: var(--primary-color);
    text-align: center;
}

.absolute {
    color: var(--secondary-color);
    text-transform:uppercase;
    font-size: 70px;
    position: absolute;
    margin-top: 70px;
    left: 39%;
    z-index: 1;
    text-shadow: 0 0 20px black;
    pointer-events: none;
}

.grid-historico {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reciclavel-container{
    background-image: url(../img/Background_Lixo_Home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 100ms ease-in-out;
    /*transform: rotate(5deg) scale(1.2);*/
}

.grid-historico h2{
    font-size: 40px;
    text-align: center;
    color: var(--secondary-color);
    text-shadow: 0 0 20px black;
}

.reciclavel-container:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.agua-container{
    background-image: url(../img/Background_Agua_Home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 100ms ease-in-out;
}

.agua-container:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.energia-container{
    background-image: url(../img/Background_Eletricidade_Home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 100ms ease-in-out;
}

.energia-container:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}

.transporte-container{
    background-image: url(../img/Background_Transporte_Home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 100ms ease-in-out;
}

.transporte-container:hover{
    transition: all 300ms ease-in-out;
    transform: scale(1.1);
}