*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.folha-bg {
  background-image: url(../img/Background_Folha.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--secondary-color);
}

.child-bg {
  background-image: url(../img/Background_Criança.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--secondary-color);
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  overflow: hidden;
}

.main-logo {
  width: 100%;
  object-fit: cover;
}

.wrap-img {
  margin: -300px -10px -300px -10px;
  object-fit: cover;
}

.sobre-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sobre-text-content{
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.sobre-text-content h2{
  font-weight: bold;
  font-size: 28px;
}

.sobre-text-content p{
  font-size: 20px;
}

.sobre-img-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sobre-img-content h2 {
  font-size: 80px;
}

.sobre-img{
  max-width: 150px;
  max-height: 150px;
}

.outro-text-content {
  width: 88%;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.outro-text-content h2, .outro-text-content p{
  max-width: 600px;
}

.outro-text-content h2{
  font-weight: bold;
  font-size: 28px;
}

.outro-text-content p{
  font-size: 20px;
}