.login-section{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.grid{
    position:relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    height:400px;
    max-width: 80%;
    overflow: hidden;
    background:var(--darkgreen-color);
    border-radius:65px;
}
.titulo-login{
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--offwhite-color)
}
.texto-criar-conta{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 200;
    color:var(--offwhite-color)
}
.texto-criar-conta a{
    color:var(--yellow-color)
}

.input-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-input{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width: 100%;
}
.grid-input input{
    width:70%;
    margin:0 auto;
    padding:1rem;
    border-radius: 20px;
    border:none;
    text-align: center;
    background:var(--offwhite-color)
}

.grid-input label {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

.email-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--offwhite-color);
    width: 100%;
}

.email-content input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.password-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--offwhite-color);
    width: 100%;
}

.password-content input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.forgot-password a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:20px;
    color:var(--offwhite-color)
}
.button-login{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width:40%;
    height:40px;
    margin:0 auto;
    background:var(--yellow-color);
    color:var(--offwhite-color);
    font-weight: bold;
    cursor: pointer;
}
.button-login:hover{
    background:var(--offwhite-color);
    color:var(--yellow-color)
}
.img-grid{
    position: relative;
    background:var(--lightgreen-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.img-grid h2 {
    font-size: 2.5rem;
}

.img-grid img{
    width: 50%;
}

.img-grid p{
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
}
